.container {
  width: 32%;
  height: 95%;
  border-radius: 5px;
  background-color: #282d30;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  font-size: 14px;
  color: var(--white);
}
