:root {
  --black: #020203;
  --red: #ff0101;
  --white: #fff;
  --bg: #fbfbfb;
  --fs-header: 16px;
  --fs-big: 48px;
  --fs-normal: 18px;
  --fs-medium: 16px;
  --fs-small: 14px;
  --fs-xsmall: 12px;
}

/* tablet version
@media (max-width: 768px) {
  :root {
  }
}

phone version
@media (max-width: 480px) {
  :root {
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/* phone version */
@media (max-width: 480px) {
  * {
    font-weight: 400;
  }
}

a.active {
  text-decoration: underline;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.container {
  margin: 0 2rem;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}
