.customTooltip {
  background-color: var(--red);
  border: none;
  font-size: 9px;
  color: var(--white);
  padding: 7px;
  text-align: center;
  line-height: 3;
}

.container {
  background-color: var(--bg);
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 22px;
  border-radius: 5px;
  height: 100%;
}

.legend,
.legendElements,
.legend1,
.legend2 {
  display: flex;
}

.legend {
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: 6px;
  margin-right: 1rem;
}

.legend1,
.legend2 {
  align-items: center;
  margin-left: 1rem;
}

img {
  margin-right: 10px;
}
