.main {
  display: flex;
}

.errorContainer {
  width: 100%;
  /* height: calc(100vh - 150px); */
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
}

.textWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.error,
.errorMessage {
  color: var(--black);
}

.error {
  font-size: 100px;
  font-weight: 700;
}

.linkToHome {
  color: var(--red);
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.linkToHome:hover {
  background-color: var(--black);
}
